<div class="container" style="margin:100px auto">
    <div class="row">
        <div class="col-6 offset-3">
            <h4>Agregar una nueva novedad</h4>
            <form action="/admin/novedades/agregar" method="post" enctype="multipart/form-data"> {{!Siempre prestar
                atencion a los directorios. Principales causa de los errores 404 not found}}
                <div class="mb-3"> <input type="text" class="form-control" placeholder="Titulo" name="titulo">
                </div>
                <div class="mb-3"><textarea type="text" class="form-control" placeholder="Subtitulo"
                        name="subtitulo"></textarea>
                </div>
                <div class="mb-3"><label>Imagen <input type="file" id="imagen" name="imagen"/></label>
                </div>
                <div class="mb-3"><textarea type="text" class="form-control" placeholder="Cuerpo"
                        name="cuerpo"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </form>
            {{!Esto lo agrego para habilitar los mensajes de error que me pueda traer deesde el formulario de
            novedades.js com cuando no se carga la novedad}}
            {{#if error}}
            <p>{{message}}</p>
            {{/if}}
        </div>
    </div>
</div>