<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<nav>
     <ul>
     <li><a href="/explorepage">Explore</a></li>
     <li><a href="/solarpage">Solar System</a></li>
     <li><a href="/lifepage">Life?</a></li>
     <li><a href="/contactopage">Contact us</a></li>
     </ul>

</nav>
